/* Gradient animation by Manuel Pinto: https://codepen.io/P1N2O/pen/pyBNzX */
.gradient-background {
  background: linear-gradient(-60deg, #133032, #0dc654, #0f5c5f);
  background-size: 200% 200%;
  animation: gradient-animation 40s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
